.chat_list .friend-list .member .column:first-child {
  display: flex;
}

.chat_list .friend-list .member .column:first-child .content {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.chat_list .friend-list .member {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.chat_list .friend-list .member .column:last-child .time-meg {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(150, 153, 153);
  font-size: 13px;
}

.chat_list .friend-list .member .column:last-child .meg-cnt {
  font-size: 13px;
  background-color: rgb(252, 126, 54);
  padding: 1px 6px;
  border-radius: 50%;
  color: white;
}
