.find .header .column:first-child {
  width: 100%;
}

.find .header .column:first-child .header-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.find .main .news-line .news-content:nth-child(2n) {
  margin: 5px 0px;
  padding: 5px 0px;
  border-top: 1px solid rgb(215, 218, 218);
  border-bottom: 1px solid rgb(215, 218, 218);
}

.find .main .photo-news {
  display: flex;
}

.find .main .photo-news .news-photo {
  width: 230px;
  height: 230px;
  border-radius: 10px;
}

.find .main .photo-news .title {
  font-size: 15px;
  font-weight: bold;
}

.find .main .video-ad {
  width: 460px;
  height: 230px;
}

.find .main .weather .row-temperature {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(215, 218, 218);
}

.find .main .weather .row-temperature .icon,
.find .main .weather .row-temperature .air-temperature {
  font-size: 30px;
}

.find .main .weather .row-temperature .comment {
  margin-left: 20px;
}

.find .main .weather .row-weather {
  display: flex;
  justify-content: space-between;
  width: 70%;
}
