.main section {
  margin-top: 12px;
}

.main .self,
.more .main .profile .row:first-child .column:first-child {
  display: flex;
}
.main .self .content,
.main .friends .column:first-child .content,
.more .main .profile .row:first-child .content {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  justify-content: center;
}

.main .self .content .msg,
.more .main .profile .row:first-child .content .email {
  color: rgb(150, 153, 153);
  font-size: 15px;
}

.main .brithday,
.main .like,
.main .know,
.main .channel,
.main .friends {
  border-top: 1px solid rgb(215, 218, 218);
}

.main .main-area .row:first-child {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;

  color: rgb(150, 153, 153);
}

.main .main-area .row-title {
  font-weight: 500;
}

.main .brithday .row:last-child,
.main .know .row:last-child,
.main .channel .row:last-child,
.main .friends .row:last-child .member,
.more .main .profile .row:first-child {
  display: flex;
  justify-content: space-between;
}

.main .friends .row:last-child .column:first-child,
.more .main .profile .row:first-child .column:last-child {
  display: flex;
  align-items: center;
}

.main .brithday .content,
.main .know .content,
.main .channel .content,
.main .like .column {
  display: flex;
  align-items: center;
}

.main .main-area .row:last-child .column:last-child {
  display: flex;
  align-items: center;
}

.main .main-area .row:last-child .column:last-child {
  color: rgb(150, 153, 153);
}

.main .friends .row:last-child .music-icon {
  color: rgb(89, 255, 117);
}

.main .friends .row:last-child .music-bar {
  padding: 3px 7px;
  border: 1px solid rgb(89, 255, 117);
  border-radius: 20px;
}

.main .friends .row:last-child .music-title,
.main .like .name {
  color: black;
}

.main .main-area .row:last-child .content .msg,
.main .like .row:last-child .member-list .column .name {
  margin-left: 10px;
}

.main .like .member-list {
  margin-bottom: 5px;
}

.main .avatar,
.chat .chatting .picture {
  width: 50px;
  height: 50px;
  border-radius: 20px;
}

.main .self-avatar,
.more .main .self-avatar {
  width: 60px;
  height: 60px;
  border-radius: 20px;
}
